certifi==2025.1.31
charset-normalizer==3.4.1
dateparser==1.2.1
dotenv-python==0.0.1
idna==3.10
numpy==2.2.4
opencv-python==4.11.0.86
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2024.11.6
requests==2.32.3
six==1.17.0
tzlocal==5.3.1
urllib3==2.3.0
