dateparser==1.2.0
Deprecated==1.2.15
fuzzyfinder==2.2.0
img2pdf==0.5.1
lxml==5.3.0
numpy==2.2.2
opencv-python==4.11.0.86
packaging==24.2
pikepdf==9.5.1
pillow==11.1.0
prompt_toolkit==3.0.50
python-dateutil==2.9.0.post0
pytz==2024.2
regex==2024.11.6
six==1.17.0
tzlocal==5.2
wcwidth==0.2.13
wrapt==1.17.2
